<body>
    <div class="container">
        <div class="row contenedor">
            <div class="col-3">
                <h1 id="titulo">Educacion</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4><strong>Ingeniería en Computación (Universidad Nacional de Cordoba)</strong> 2017-Hasta la fecha</h4>
            </div>
            <div class="col-9 descricpion"><p>Estudiante con materias específicas aprobadas tales como Algoritmos y Estructuras de Datos, Ingeniería de Software, Modelos y Simulación y Programación Concurrente entre otras.</p></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <h4><strong>Bachiller en Economía y Administración</strong>(Leopoldo Lugones) 2010-2015</h4>
            </div>
            <div class="col-9 descricpion"><p></p></div>
        </div>
        <div class="row">
            <div class="col-3"></div>

    </div>


