
<header class="navbar navbar-expand-md navbar-dark bg-dark border-3 border-bottom border-dark ">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand centro" href="" >
            <img src="assets/images/logo_Argentina_Programa.png"
            href="#" 
            class="logo d-inline-block " 
            alt="">
            Argentina Programa
        </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end wrapper" id="navbar" >

            <ul class="navbar-nav ms-3">
                <li class="facebook" ><a href="https://www.facebook.com/agustin.sileoni/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="twitter" ><a href="https://twitter.com/AgustinSileoni"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class="instagram" ><a href="https://www.instagram.com/agustinsileoni/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li class="linkedin" ><a href="https://www.linkedin.com/in/agustin-s-201137105/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>

            </ul>            
            <ul class="navbar-nav ms-3">
                <li>       
                     <a class="nav-link text-nowrap" href="#">Iniciar Sesion</a>
                </li>
            </ul>

    </div>
</header>