<body>
    <div class="container ">
        <div class="row contenedor">
            <div class="col-3">
                <h1 id="titulo">Experiencia</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4><strong>Cable Imagen</strong> (Ayudante de cobro) 2016-2019</h4>
            </div>
            <div class="col-9 descricpion"><p>Cumpli un cargo en el sector de publicidad, adquiriendo y manteniendo a las empresas y en el de  cobro el cual requería un buen manejo con las personas, alto nivel de organización y control de dinero.</p></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <h4><strong>CESOPOL</strong>(Pasante en Administración) 2015</h4>
            </div>
            <div class="col-9 descricpion"><p>Trabajo de administración, con manejo de software de gestión, utilización de Excel como herramienta principal y encargado de carga y control de datos de seguimiento de los vehículos de la empresa.</p></div>
        </div>


    </div>

</body>
