.imagen-edit{
    position: fixed;
    bottom: 3vh;
    right: 1.5vw;
    height: 8vh;
    width: 4vw;
}

.bot-ed{
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    height: 10vh;
    width: 5vw;
    cursor: pointer;
    background-color: lightblue;
    border-radius: 40%;
    border: 10px;
}
