

<section class="perfil-usuario">
    <div class="contenedor-perfil">
        <div class="portada-perfil m-3 " style="background-image: url('https://www.xtrafondos.com/wallpapers/seleccion-argentina-con-trofeo-copa-mundial-fifa-11268.jpg');">
            <div class="sombra"></div>
            <div class="avatar-perfil ">
                <img src="https://wallpapercave.com/wp/wc1712879.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-5 name text-center">
            <h1>Agustin Sileoni</h1>
            <h2>Full Stack Developer JR</h2>
        </div>
        <div class="col-7 description text-center">
           <p> 
            Estudiante de Ingeniería en Computación con interés en obtener 
            las primeras experiencias en este mercado, lleno de ganas de seguir 
            aprendiendo y crecer principalmente en el sector de software enfocado 
            en el desarrollo web. </p>
        </div>
    </div>
</div>